# ===================================================================
# ## File Biner dan Hasil Kompilasi (Compiled Binaries)
# ===================================================================
auth-service
*.exe
*.out
*.so
*.dll

# ===================================================================
# ## File Konfigurasi Lokal & Rahasia (Secrets)
# ===================================================================
.env

# ===================================================================
# ## Direktori Dependensi (Dependency Directory)
# ===================================================================
vendor/

# ===================================================================
# ## File Spesifik IDE / Editor
# ===================================================================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ===================================================================
# ## File Sistem Operasi (OS Files)
# ===================================================================
.DS_Store
Thumbs.db
desktop.ini

# ===================================================================
# ## File Lainnya (Log, Test Coverage, dll.)
# ===================================================================
*.log
coverage.out
profile.out
private.pem
public.pem